.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #c4c4c4bf;
  border-bottom: 2px solid #009879;
  font-size: 13px;
}

.table_header {
  background-color: #009879;
  color: #fff;
}

th,
td {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  border-bottom: 1px solid #c4c4c4bf;
}

.pagination {
  margin-top: 15px;
}

.page_number {
  padding: 10px 14px;
  margin: 0 10px;
}

button {
  background-color: #009879;
  border: none;
  color: #fff;
  padding: 5px 13px;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  background-color: #017860;
  transition: 0.4s all;
}
